[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2 = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-cors = "*"
tzdata = "*"
sqlalchemy = "*"
colorama = "*"

[dev-packages]
yapf = "*"
pylint = "*"
